.listItem {
  border-radius: 14px;
  padding: 0.2rem 0.5rem 0.3rem 0.5rem;
  margin-right: 0.5rem;
  font-size: 13px;
  cursor: pointer;
}

.listItemSmall {
  border-radius: 14px;
  padding: 0.1rem 0.3rem 0.1rem 0.3rem;
  margin-right: 0.3rem;
  font-size: 10px;
  margin-bottom: 0.3rem;
  cursor: pointer;
}
